// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  max-width: 1200px;
  margin: 50px auto;
}

label, input, textarea {
  display: block;
  margin: 10px;
}

.navbar {
  text-align: right;
}

.odd {
  background-color: lightgray;
}

.even {
  background-color: white;
}

a:visited {
  color: black;
}